<h1><%="#{@genre.name} Artists"%></h1>

<ul><% @genre.artists.each {|artist| %>
    <li><%= link_to artist.name, artist %></li>
<% } %></ul>


<%#= button_to "All Songs", songs_path, method: :get %><br>
<%#= button_to "All Artists", artists_path, method: :get %><br>
<%#= button_to "All Genres", genres_path, method: :get %>