<h1> Artist </h1>

<ul><% @artists.each {|artist| %>
    <li><%= link_to artist.name, artist %></li>
<% } %></ul>

<%# show count for number of songs associated with artist? %>

<br>
<hr>
<br>
<%= button_to "All Songs", songs_path, method: :get %><br>
<%= button_to "All Artists", artists_path, method: :get %><br>
<%= button_to "All Genres", genres_path, method: :get %>