<h1> Songs </h1>

<table style="width:100%">
  <tr>
    <% if logged_in? %><th>Listen</th><% end %>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
  </tr>

<% ordered_songs = @songs.order(:title) %>
<% ordered_songs.each {|song| %>
  <tr>
    <% if logged_in? %><td><%= button_to "Play", plays_path, method: :post, params: { song_id: song.id }%></td><% end %>
    <td><%= link_to song.title, song %></td>
    <td><%= link_to song.artist.name, song.artist %></td>
    <td><%= link_to song.genre.name, song.genre %></td>
  </tr>
<% } %>
</table>