
<h1><%= @song.title %></h1>

<h3>by <%= link_to @song.artist.name, @song.artist %></h3>
<h3>Genre: <%= link_to @song.genre.name, @song.genre %></h3>

<br>
<h3>Preview: </h3>
<div class="song_media">
    <% if logged_in?%>
        <audio src="<%= @song.sound_link if @song.sound_link%>" controls></audio>
    <% else %>
        <h6><i>Sorry, must be logged in to view audio sample.</i></h6>
    <% end %>

</div>