/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
    background-color: #343a40!important;
    height: 80px;
}

.nav-brand {
    font-size: 55px;
    color: white !important;
    padding: 30px;
    font-family: 'Ultra', serif;
}

.nav-item{
    color: white !important;
    float: right;
    padding: 28px;
    font-family: 'Ultra', serif;
}

#content-wrap {
    padding-bottom: 30px;
} /*for footer height*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #343a40!important;
    justify-content: space-evenly;
}

a.footer-item {
    font-size: 16px;
    color: white !important;
    font-family: 'Ultra', serif;
    padding: 10px;
    display:inline-block
}


body {
    background-color: #000000 !important; /* Used if the image is unavailable */
    background-image: url("disc.png") !important; /* The image used */
    background-attachment: fixed;
    background-position: center top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 70%;
    height: auto;
    padding: 20px;
    font: inherit;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

tr:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

li {
    color: white;
}
/* the dots from list*/

a:link {
    color: hotpink;
}
/* link that has not been click excluding navigation*/

a:visited {
    color: orange;
}

a:hover {
    color: white;
}

/* link that has been click excluding navigation*/

/*tags A index li, A show td, G index li, G show li, S index td, Show H3 */